---
import { type CollectionEntry, getCollection, render } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { readingTime } from "@lib/utils";
import BackToPrevious from "@components/BackToPrevious.astro";
import Link from "@components/Link.astro";
import TableOfContents from "@components/TableOfContents.astro";

export async function getStaticPaths() {
  const projects = (await getCollection("projects"))
    .filter((post) => !post.data.draft)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  return projects.map((project) => ({
    params: { id: project.id },
    props: project,
  }));
}
type Props = CollectionEntry<"projects">;

const project = Astro.props;
const { Content, headings } = await render(project);
const showTableOfContents = project.data.toc !== false;
---

<Layout title={project.data.title} description={project.data.description}>
  <Container>
    <div class="animate">
      <BackToPrevious href="/projects">返回项目</BackToPrevious>
    </div>
    <div class="animate my-10 space-y-1">
      <div class="flex items-center gap-1.5">
        <div class="font-base text-sm">
          <FormattedDate date={project.data.date} />
        </div>
        &bull;
        {project.body && (
          <div class="font-base text-sm">
            {readingTime(project.body)}
          </div>
        )}     
      </div>
      <h1 class="text-3xl font-semibold text-black dark:text-white">
        {project.data.title}
      </h1>
      {
        project.data.tags && project.data.tags?.length > 0 ? (
          <div class="flex gap-2 pt-1">
            {project.data.tags.map((tag) => (
              <a
                href={`/projects/tags/${tag}`}
                class="rounded-sm border border-black/15 px-2 py-1 text-sm transition-colors duration-300 ease-in-out hover:bg-black/5 hover:text-black focus-visible:bg-black/5 focus-visible:text-black dark:border-white/20 dark:hover:bg-white/5 dark:hover:text-white dark:focus-visible:bg-white/5 dark:focus-visible:text-white"
              >
                {tag}
              </a>
            ))}
          </div>
        ) : null
      }
      {
        (project.data.demoURL || project.data.repoURL || project.data.feishuURL) && (
          <nav class="flex gap-1">
            {project.data.demoURL && (
              <Link href={project.data.demoURL} external>
                演示
              </Link>
            )}
            {project.data.demoURL && project.data.repoURL && <span>/</span>}


            {project.data.repoURL && (
              <Link href={project.data.repoURL} external>
                仓库
              </Link>
            )}

            {project.data.feishuURL && (
              <Link href={project.data.feishuURL} external>
                飞书
              </Link>
            )}
          </nav>
        )
      }
    </div>
    {showTableOfContents && headings.length > 0 && <TableOfContents headings={headings} />}
    <article class="animate">
      <Content />
    </article>
  </Container>
</Layout>
